{
    "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-es2015-classes",
        "transform-es2015-spread",
        "transform-object-rest-spread",
        "transform-export-extensions",
    ],
    "ignore": [
        "node_modules/**/*.js",
        "dist/**/*.js"
    ],
    "sourceMaps": false
}
